body {
  background-color: #272932;
  font: normal 15pt arial;
  color: #fff;
  text-align: center;
}

section {
  background: #fff;
  color: #272932;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  height: 400px;
  margin: auto;
}

footer {
  color: #fff;
  font-style: italic;
}
